/*style.css*/

.container {
    margin: auto;
    width: 33%;
    text-align: center;
    background-color: rgba(139, 133, 133, 0.5);
}

p {
    font-size: 18px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

ul, ol {
    display: inline-block;;
}

.container li {
    text-align: left;
    font-size: 18px;
    padding: 4px;
}